<!-- ============================================ -->
<!--                     CTA                      -->
<!-- ============================================ -->

<section id="cta-51">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Contact Us</span>
            <h2 class="cs-title">Get It Done With Us Today</h2>
            <p class="cs-text">
              Discover the Difference with D.A.R.T. SERVICES! Contact Our Expert Team Today to Begin Your Journey to Excellence in Demolition and Cleanup Services. Your Project Transformation Starts Here
            </p>
            <a href="/contact" class="cs-button-solid">Gret A Free Quote</a>
        </div>
    </div>
    <!-- Background Image-->
    <picture class="cs-picture">
        <source media="(max-width: 600px)" srcset="/assets/images/Cta.jpg">
        <source media="(min-width: 601px)" srcset="/assets/images/Cta.jpg">
        <img loading="lazy" decoding="async" src="/assets/images/Cta.jpg" alt="cabinets" width="1920" height="1280" aria-hidden="true">
    </picture>
</section>
                                