<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="cs-footer-1292">
    <div class="cs-container">      
        <!-- Logo Group -->
        <div class="cs-logo-group">
            <a aria-label="go back to home" class="cs-logo" href="">
                <img class="cs-logo-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/Logo_bg.png" alt="logo" width="240" height="32">
            </a>
            <p class="cs-text">
             Demolition, Asbestos Removal, & General Contracting Services
            </p>
            <a href="mailto:dartservices2020@gmail.com" class="cs-link">
                <img class="cs-link-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/construction-mail.svg" alt="icon" width="24" height="24">
                dartservices2020@gmail.com

            </a>
        </div>
        <!-- Links -->
        <ul class="cs-nav">
            <li class="cs-nav-li">
                <span class="cs-header">Basic Navigation</span>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="/">Home</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="/about">About</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="/services">Services</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="/gallery">Projects</a>
            </li>
        </ul>
 
        <ul class="cs-nav">
            <li class="cs-nav-li">
                <span class="cs-header">Contact</span>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="https://www.facebook.com/demo.contracting.toronto/">Facebook</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="https://www.instagram.com/demo.contracting.toronto/">Instagram</a>
            </li>
        </ul>
        <ul class="cs-nav">
            <li class="cs-nav-li">
                <span class="cs-header">Help</span>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="/contact">Contact us</a>
            </li>
        </ul>
    </div>
    <div class="cs-bottom">
        <span class="cs-copyright">Handcoded and Designed by
            <a class="cs-copyright-link" href="http://enigmadigital.ca/">Enigma Digital</a>
        </span>
    </div>
    <!--Floating Cirlces-->
    <div class="cs-floater" aria-hidden="true"></div>
</footer>
                                