---
title: 'Contact'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'contact/'
---

{% extends "layouts/base2.html" %}

{% block head %}
    <link rel="stylesheet" href="/css/contact.css">
{% endblock %}

{% block body %}
<!-- ============================================ -->
<!--                   Contact                    -->
<!-- ============================================ -->

<section id="contact-1269">
    <div class="cs-container">
        <div class="cs-form-group">
            <h3 class="cs-h3">
                <picture class="cs-picture">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/clipboard-orange.svg" alt="clipboard" width="32" height="32">
                </picture>
                We are thrilled to hear from you and learn about your project needs.
            </h3>
            <!--Form-->
            <form class="cs-form" id="cs-form-1269" name="Contact Form" method="post">
                <label class="cs-label">
                    Name
                    <input class="cs-input" required type="text" id="name-1269" name="name" placeholder="Name">
                </label>
                <label class="cs-label cs-email">
                    Email
                    <input class="cs-input" required type="email" id="email-1269" name="email" placeholder="Email">
                </label>
                <label class="cs-label cs-phone">
                    Phone
                    <input class="cs-input" required type="phone" id="phone-1269" name="phone" placeholder="Phone">
                </label>
                <label class="cs-label">
                    Message
                    <textarea class="cs-input cs-textarea" required name="Message" id="message-1269" placeholder="Write message..."></textarea>
                </label>
                <button class="cs-button-solid cs-submit" type="submit">Make an Appointment</button>
            </form>
        </div>
        <div class="cs-wrapper">
            <div class="cs-content">
                <span class="cs-topper">Contact us</span>
                <h2 class="cs-title">Contact Us for Your Construction Needs</h2>
                <p class="cs-text">
                    Fill out our construction contact form and let us know about your project needs. Our team of experts will get back to you within 24-48 hours to discuss your project details and provide you with a customized quote.
                </p>
            </div>
            <!--Background image on mobile. We have to wrap the content in a wrpper div so we can place the image in the HTML as its background. It's better to insert images on your site in the HTML than the CSS as a background because it improves performance and load times being in the HTML.-->
            <!--Background image-->
            <picture class="cs-background">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/white-waves-m.svg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/white-waves.svg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/white-waves.svg" alt="waves" width="960" height="839">
            </picture>
        </div>
    </div>
</section>
                                
                                
{% endblock %}