---
title: 'Privacy'
description: 'Explore our gallery to witness the success stories of D.A.R.T SERVICES. View our portfolio of completed projects, showcasing our commitment to excellence, safety, and quality in the demolition, cleanup, and asbestos solutions industry'
preloadImg: '/assets/images/IMG_5187.jpg'
permalink: 'Privacy/'
eleventyNavigation:
    key: Privacy
    order: 700
---

{% extends "layouts/base2.html" %}

{% block head %}
    <link rel="stylesheet" href="/css/privacy.css">
{% endblock %}

{% block body %}

   

<div class="container">
    <h1>Privacy Policy</h1>

    <p>Dart Demolition is committed to respecting the privacy of individuals and recognizes a need for the appropriate management and protection of any personal information that you agree to provide to us. We will not share your information with any third party outside of our organization, other than as necessary to fulfill your request.</p>
</div>

{% endblock %}