---
title: 'Services'
description: 'Discover the comprehensive range of services offered by D.A.R.T SERVICES, from demolition to cleanup and asbestos solutions. Explore how our skilled team ensures excellence, safety, and efficiency in every project. Learn more about how we can meet your specific needs.'
preloadImg: '/assets/images/demolition.jpg'
permalink: 'services/'
eleventyNavigation:
    key: services
    order: 400
---

{% extends "layouts/base2.html" %}

{% block head %}
    <link rel="stylesheet" href="/css/reviews.css">
{% endblock %}

{% block body %}


<!-- ============================================ -->
<!--                    Services                  -->
<!-- ============================================ -->

<section id="services-1252">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex-group">
                <span class="cs-topper">Our Services</span>
                <h2 class="cs-title">Professional Construction Services</h2>
            </div>
            <p class="cs-text">
              D.A.R.T SERVICES offers a comprehensive suite of services designed to cater to your specific needs. With a commitment to excellence, safety, and sustainability, we deliver top-notch results that exceed expectations. Explore our range of services and discover how we can make your project a resounding success:
            </p>
        </div>
        <ul class="cs-card-group">
             <li class="cs-item">
                <a href="/services" class="cs-link">
                    <h3 class="cs-h3">Demolition Services</h3>
                    <p class="cs-item-text">
                        Whether it's the removal of structures, interiors, or specialized demolition needs, we handle it all with expertise and care
                    </p>
                </a>
                <picture class="cs-item-background">
                    <source media="(max-width: 600px)" srcset="/assets/images/demolition.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/demolition.jpg">
                    <img decoding="async" src="/assets/images/demolition.jpg" alt="construction" width="413" height="374" aria-hidden="true">
                </picture>
            </li>
            <li class="cs-item">
                <a href="/services" class="cs-link">
                    <h3 class="cs-h3">Cleanup and Restoration</h3>
                    <p class="cs-item-text">
                        From post-renovation cleaning to sewer backup decontamination, we leave spaces spotless and safe.
                    </p>
                </a>
                <picture class="cs-item-background">
                    <source media="(max-width: 600px)" srcset="/assets/images/cleanup.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/cleanup.jpg">
                    <img decoding="async" src="/assets/images/cleanup.jpg" alt="construction" width="413" height="374" aria-hidden="true">
                </picture>
            </li>
            <li class="cs-item">
                <a href="/services" class="cs-link">
                    <h3 class="cs-h3">Asbestos Abatement</h3>
                    <p class="cs-item-text">
                       Our asbestos abatement and removal services ensure that hazardous asbestos materials are handled with utmost care.
                    </p>
                </a>
                <picture class="cs-item-background">
                    <source media="(max-width: 600px)" srcset="/assets/images/asbestos.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/asbestos.jpg">
                    <img decoding="async" src="/assets/images/asbestos.jpg" alt="construction" width="413" height="374" aria-hidden="true">
                </picture>
            </li>
              <li class="cs-item">
                <a href="/services" class="cs-link">
                    <h3 class="cs-h3">General Contracting</h3>
                    <p class="cs-item-text">
                      We offer a wide range of general contracting services that are designed to meet the diverse needs of our clients. 
                    </p>
                </a>
                <picture class="cs-item-background">
                    <source media="(max-width: 600px)" srcset="/assets/images/general.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/general.jpg">
                    <img decoding="async" src="/assets/images/general.jpg" alt="construction" width="413" height="374" aria-hidden="true">
                </picture>
            </li>
        </ul>
    </div>
</section>
                                
<!-- ============================================ -->
<!--                   Steps                      -->
<!-- ============================================ -->

<section id="steps-1174">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Our Work Process</span>
            <h2 class="cs-title">How To Get Started</h2>
            <p class="cs-text">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa libero sint hic accusantium exercitationem, voluptatem officia quaerat velit quis ullam?
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/lightbulb.svg" alt="icon" width="40" height="40" loading="lazy" decoding="async" aria-hidden="true">
                </picture>
                <h3 class="cs-h3">Contact Us</h3>
                <p class="cs-item-p">
                    Contact us through phone, email, or our website to set up an initial consultation.
                </p>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/puzzle.svg" alt="icon" width="40" height="40" loading="lazy" decoding="async" aria-hidden="true">
                </picture>
                <h3 class="cs-h3"> Proposal and Agreement</h3>
                <p class="cs-item-p">
                     We'll prepare a tailored proposal that encompasses the scope of work, costs, and project timeline
                </p>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/gear.svg" alt="icon" width="40" height="40" loading="lazy" decoding="async" aria-hidden="true">
                </picture>
                <h3 class="cs-h3">Project Commencement</h3>
                <p class="cs-item-p">
                    Your project will begin in accordance with the agreed-upon timeline.
                </p>
            </li>
        </ul>
    </div>

</section>
                                

 
</section>
                                
                                



    {% include 'components/cta.html' %}

{% endblock %}