---
title: 'Services'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'services/'
eleventyNavigation:
    key: services
    order: 400
---

{% extends "layouts/base2.html" %}

{% block head %}
    <link rel="stylesheet" href="/css/reviews.css">
{% endblock %}

{% block body %}

   
    <!-- ============================================ -->
<!--                    Services                  -->
<!-- ============================================ -->

<section id="services-1251">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex-group">
                <span class="cs-topper">Our Services</span>
                <h2 class="cs-title">Professional Construction Services</h2>
            </div>
            <p class="cs-text">
              D.A.R.T SERVICES offers a comprehensive suite of services designed to cater to your specific needs. With a commitment to excellence, safety, and sustainability, we deliver top-notch results that exceed expectations. Explore our range of services and discover how we can make your project a resounding success:
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="/services" class="cs-link">
                    <h3 class="cs-h3">Demolition Services</h3>
                    <p class="cs-item-text">
                        Whether it's the removal of structures, interiors, or specialized demolition needs, we handle it all with expertise and care
                    </p>
                </a>
                <picture class="cs-item-background">
                    <source media="(max-width: 600px)" srcset="/assets/images/demolition.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/demolition.jpg">
                    <img decoding="async" src="/assets/images/demolition.jpg" alt="construction" width="413" height="374" aria-hidden="true">
                </picture>
            </li>
            <li class="cs-item">
                <a href="/services" class="cs-link">
                    <h3 class="cs-h3">Cleanup and Restoration</h3>
                    <p class="cs-item-text">
                        From post-renovation cleaning to sewer backup decontamination, we leave spaces spotless and safe.
                    </p>
                </a>
                <picture class="cs-item-background">
                    <source media="(max-width: 600px)" srcset="/assets/images/cleanup.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/cleanup.jpg">
                    <img decoding="async" src="/assets/images/cleanup.jpg" alt="construction" width="413" height="374" aria-hidden="true">
                </picture>
            </li>
            <li class="cs-item">
                <a href="/services" class="cs-link">
                    <h3 class="cs-h3">Asbestos Abatement</h3>
                    <p class="cs-item-text">
                       Our asbestos abatement and removal services ensure that hazardous asbestos materials are handled with utmost care.
                    </p>
                </a>
                <picture class="cs-item-background">
                    <source media="(max-width: 600px)" srcset="/assets/images/asbestos.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/asbestos.jpg">
                    <img decoding="async" src="/assets/images/asbestos.jpg" alt="construction" width="413" height="374" aria-hidden="true">
                </picture>
            </li>
        </ul>
    </div>
</section>


 
</section>
                                
                                



    {% include 'components/cta.html' %}

{% endblock %}