/* PAGE-SPECIFIC STYLES FOR THE ABOUT PAGE */

/*-- -------------------------- -->
<---          Banner            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {


    #banner-310 {
        font-family: 'Roboto', 'Arial', sans-serif;
        /* 144px - 252px */
        padding-top: clamp(9rem, 25vw, 15.75rem);
        /* 80px - 140px */
        padding-bottom: clamp(5rem, 13vw, 8.75rem);
        position: relative;
        z-index: 1;
        
        .cs-container {
            width: 100%;
            max-width: calc(1280 / 16 * 1rem);
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    
        .cs-int-title {
            /* 39px - 49px */
            font-size: clamp(2.4375rem, 4.5vw, 3.0625rem);
            font-weight: 900;
            line-height: 1.2em;
            text-align: center;
            max-width: calc(700 / 16 * 1rem);
            margin: 0 auto calc(12 / 16 * 1rem);
            color: var(--bodyTextColorWhite);
            position: relative;
        }

        .cs-breadcrumbs {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .cs-link {
            /* 14px - 16px */
            font-size: clamp(.875rem, 1.5vw, 1rem);
            line-height: 1.2em;
            text-decoration: none;
            color: var(--bodyTextColorWhite);
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

            &:last-of-type {
                /* remove the chevron on the last list item */
                &::after {
                    display: none;
                }
            }

            &:after {
                /* chevron - added as pseudo to make adding and removing them easier */
                content: '';
                width: calc(7 / 16 * 1rem);
                height: calc(12 / 16 * 1rem);
                margin-left: calc(12 / 16 * 1rem);
                margin-right: calc(12 / 16 * 1rem);
                background: url("https://csimg.nyc3.digitaloceanspaces.com/Banners/chevron-right.svg");
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
            }

            &.cs-active {
                color: var(--primaryLight);
            }
        }

        .cs-background {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            z-index: -1;

            &:before {
                /* black overlay box */
                content: '';
                width: 100%;
                height: 100%;
                background: #000;
                opacity: .72;
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                z-index: 1;
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }

}
                                

/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    :root {
        /* remove this whole :root and put in your global css file that's shared on all pages, then just remove this section from all other Stitches you add later, only need this once in your global stylesheet */
        --primary: #FF6A3E;
        --primaryLight: #d8673d;
        --secondary: #FFBA43;
        --secondaryLight: #FFBA43;
        --headerColor: #1a1a1a;
        --bodyTextColor: #4E4B66;
		--bodyTextColorWhite: #FAFBFC;

        /* 13px - 16px */
        --topperFontSize: clamp(.8125rem, 1.6vw, 1rem);
        /* 31px - 49px */
        --headerFontSize: clamp(1.9375rem, 3.9vw, 3.0625rem);
        --bodyFontSize: 1rem;

        /* 60px - 100px top and bottom */
        --sectionPadding: clamp(3.75rem, 7.82vw, 6.25rem) 1rem;
    }

    #sbs-1255 {
        /* remove the font family so the Stitch inherits the fonts from your global stylesheet */
        font-family: 'Roboto', 'Arial', sans-serif;
        padding: var(--sectionPadding);
        overflow: hidden;
        
        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: calc(550 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            /* changes to 433px at desktop */
            max-width: calc(542 / 16 * 1rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }
    
        .cs-topper {
            font-size: var(--topperFontSize);
            line-height: 1.2em;
            text-transform: uppercase;
            text-align: inherit;
            letter-spacing: .1em;
            font-weight: 700;
            color: var(--primary);
            margin-bottom: calc(4 / 16 * 1rem);
            display: block;
        }
    
        .cs-title {
            font-size: var(--headerFontSize);
            font-weight: 900;
            line-height: 1.2em;
            text-align: inherit;
            max-width: calc(700 / 16 * 1rem);
            margin: 0 0 calc(16 / 16 * 1rem) 0;
            color: var(--headerColor);
            position: relative;
        }
    
        .cs-text {
            font-size: var(--bodyFontSize);
            line-height: 1.5em;
            text-align: inherit;
            width: 100%;
            max-width: calc(650 / 16 * 1rem);
            margin: 0;
            color: var(--bodyTextColor);
        }

        .cs-text {
            /* Override.  cs-topper cs-title and first cs-text should be removed and put into your global css sheet so it can control every instance of them on your site and is consistent. This selector is a section specific override that stays inside this stitch */
            margin-bottom: calc(16 / 16 * 1rem);
            &:last-of-type {
                margin-bottom: calc(32 / 16 * 1rem);
            }
        }

        .cs-ul {
            max-width: calc(630 / 16 * 1rem);
            margin: 0 0 calc(32 / 16 * 1rem) 0;
            padding: 0;
            /* clips the bullets to create the half circle */
            overflow: hidden;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: calc(12 / 16 * 1rem);
        }

        .cs-li {
            list-style: none;
            margin: 0;
            color: var(--bodyTextColor);
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            gap: calc(12 / 16 * 1rem);
            position: relative;
        }

        .cs-button-solid {
            font-size: calc(16 / 16 * 1rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
	    	font-weight: 700;
	        text-align: center;
            margin: 0;
            color: #fff;
            min-width: calc(150 / 16 * 1rem);
            padding: 0 calc(24 / 16 * 1rem);
            background-color: var(--primary);
            border-radius: calc(4 / 16 * 1rem);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;

            &:before {
                content: '';
                position: absolute;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                border-radius: calc(4 / 16 * 1rem);
                transition: width .3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-image-group {
            /* scales the whole group based on the view width size and stop when that vales equals .845em, resets at desktop */
            font-size: min(2.207vw, .845em);
            width: calc(650 / 16 * 1em);
            height: calc(658 / 16 * 1em);
            display: block;
            position: relative;
            z-index: 1;
        }

        .cs-picture {
            border-radius: calc(8 / 16 * 1em);
            overflow: hidden;
            position: absolute;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        .cs-picture1 {
            width: calc(203 / 16 * 1em);
            height: calc(203 / 16 * 1em);
            top: calc(20 / 16 * 1em);
            left: calc(18 / 16 * 1em);
        }

        .cs-picture2 {
            width: calc(208 / 16 * 1em);
            height: calc(208 / 16 * 1em);
            top: 0;
            left: calc(225 / 16 * 1em);
        }

        .cs-picture3 {
            width: calc(214 / 16 * 1em);
            height: calc(214 / 16 * 1em);
            top: calc(9 / 16 * 1em);
            right: 0;
        }

        .cs-picture4 {
            width: calc(224 / 16 * 1em);
            height: calc(224 / 16 * 1em);
            top: calc(227 / 16 * 1em);
            left: 0;
        }

        .cs-picture5 {
            width: calc(287 / 16 * 1em);
            height: calc(287 / 16 * 1em);
            box-shadow: 0px 24px 122px 0px rgba(0, 0, 0, 0.78);
            top: calc(175 / 16 * 1em);
            left: calc(174 / 16 * 1em);
            z-index: 10;
        }

        .cs-picture6 {
            width: calc(203 / 16 * 1em);
            height: calc(203 / 16 * 1em);
            bottom: 0;
            left: calc(38 / 16 * 1em);
        }

        .cs-picture7 {
            width: calc(204 / 16 * 1em);
            height: calc(204 / 16 * 1em);
            top: calc(227 / 16 * 1em);
            right: calc(20 / 16 * 1em);
        }

        .cs-picture8 {
            width: calc(223 / 16 * 1em);
            height: calc(223 / 16 * 1em);
            bottom: calc(60 / 16 * 1em);
            left: calc(246 / 16 * 1em);
        }

        .cs-waves-wrapper {
            /* changes to 100% at desktop */
            width: 100vw;
            height: 150%;
            position: absolute;
            bottom: 0;
            left: 50%;
            z-index: -1;
            /* changes at desktop */
            transform: translateX(-50%);

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #sbs-1255 {
        .cs-container {
            max-width: calc(1280 / 16 * 1rem);
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        .cs-image-group {
            font-size: min(1.2vw, 1em);
            flex: none;
        }

        .cs-waves-wrapper {
            width: 100%;
            bottom: 50%;
            transform: translate(-50%, 50%);
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #sbs-1255 {
            .cs-title, .cs-text, .cs-li {
                color: var(--bodyTextColorWhite);
            }

            .cs-text, .cs-li {
                opacity: .8;
            }
        }
    }
}

/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {


	#sbs-297 {
		/* remove the font family so the Stitch inherits the fonts from your global stylesheet */
		font-family: 'Roboto', 'Arial', sans-serif;
		padding: var(--sectionPadding);

		.cs-container {
			width: 100%;
			/* changes to 1280px at desktop */
			max-width: calc(550 / 16 * 1rem);
			margin: auto;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
		}

		.cs-content {
			/* set text align to left if content needs to be left aligned */
			text-align: center;
			width: 100%;
			max-width: calc(522 / 16 * 1rem);
			display: flex;
			flex-direction: column;
			/* centers content horizontally, set to flex-start to left align */
			align-items: center;
		}

		.cs-topper {
			font-size: var(--topperFontSize);
			line-height: 1.2em;
			text-transform: uppercase;
			text-align: inherit;
			letter-spacing: 0.1em;
			font-weight: 700;
			color: var(--primary);
			margin-bottom: calc(4 / 16 * 1rem);
			display: block;
		}

		.cs-title {
			font-size: var(--headerFontSize);
			font-weight: 900;
			line-height: 1.2em;
			text-align: inherit;
			max-width: calc(700 / 16 * 1rem);
			margin: 0 0 calc(16 / 16 * 1rem) 0;
			color: var(--headerColor);
			position: relative;
		}

		.cs-text {
			font-size: var(--bodyFontSize);
			line-height: 1.5em;
			text-align: inherit;
			width: 100%;
			max-width: calc(650 / 16 * 1rem);
			margin: 0;
			color: var(--bodyTextColor);
		}

		.cs-text {
			/* Override.  cs-topper cs-title and first cs-text should be removed and put into your global css sheet so it can control every instance of them on your site and is consistent. This selector is a section specific override that stays inside this stitch */
			margin-bottom: calc(16 / 16 * 1rem);
			&:last-of-type {
				margin-bottom: calc(32 / 16 * 1rem);
			}
		}

		.cs-link {
			font-size: calc(20 / 16 * 1rem);
			font-weight: 700;
			text-decoration: none;
			color: var(--primary);
		}

		.cs-button-solid {
			font-size: calc(16 / 16 * 1rem);
			/* 46px - 56px */
			line-height: clamp(2.875rem, 5.5vw, 3.5rem);
			text-decoration: none;
			font-weight: 700;
			text-align: center;
			margin: 0;
			color: #fff;
			min-width: calc(150 / 16 * 1rem);
			padding: 0 calc(24 / 16 * 1rem);
			background-color: var(--primary);
			border-radius: calc(4 / 16 * 1rem);
			display: inline-block;
			position: relative;
			z-index: 1;
			/* prevents padding from adding to the width */
			box-sizing: border-box;

			&:before {
				content: '';
				position: absolute;
				height: 100%;
				width: 0%;
				background: #000;
				opacity: 1;
				top: 0;
				left: 0;
				z-index: -1;
				border-radius: calc(4 / 16 * 1rem);
				transition: width 0.3s;
			}

			&:hover {
				&:before {
					width: 100%;
				}
			}
		}

		.cs-image-group {
			width: 100%;
			max-width: calc(550 / 16 * 1rem);
			/* 78px - 108px */
			margin: 0 auto clamp(4.875rem, 16.5vw, 6.75rem);
			position: relative;
			display: block;
			/* width divided by height */
			aspect-ratio: 328/363;
		}

		.cs-picture {
			/* big background image */
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			img {
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 100%;
				border-radius: calc(10 / 16 * 1rem);
				object-fit: cover;
			}
		}

		.cs-box {
			/* 204px - 326px & changes at desktop */
			width: clamp(12.75rem, 50vw, 20.375rem);
			height: clamp(12.75rem, 50vw, 20.375rem);
			border-radius: calc(10 / 16 * 1rem);
			overflow: hidden;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			position: absolute;
			left: 50%;
			/* 38px - 60px - wrapped in a calc function to make clamp values negative */
			bottom: calc(clamp(2.375rem, 7.9vw, 3.75rem) * -1);
			transform: translateX(-50%);
			z-index: 10;
		}

		.cs-box-picture {
			/* Background image for cs-box */
			width: 100%;
			height: 100%;
			background-color: #000;
			border-radius: calc(10 / 16 * 1rem);
			/* clips img corners and bg corners */
			overflow: hidden;
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			z-index: -1;

			img {
				position: absolute;
				top: 0;
				left: 0;
				opacity: 0.65;
				height: 100%;
				width: 100%;
				object-fit: cover;
			}
		}

		.cs-number {
			/* 75px - 100px */
			font-size: clamp(4.6875rem, 8vw, 6.25rem);
			line-height: 1em;
			font-weight: 900;
			margin-bottom: calc(8 / 16 * 1rem);
			color: var(--headerColor);
			/* creates the transparent clipping text */
			mix-blend-mode: screen;
			display: block;
			z-index: 10;

			&:before {
				/* opaque white box - For mix-blend-mode to work, we need the 
                   white box inside the .cs-number, so we use a pseudo element.
                   We DON'T add a position to the cs-number so the pseudo positions
                   itself relative to the .cs-box, which has position relative. This
                   allows us to center to .cs-number pseudo inside the .cs-box */
				content: '';
				/* 184px - 294px & changes at desktop */
				width: clamp(11.5rem, 45vw, 18.375rem);
				height: clamp(11.5rem, 45vw, 18.375rem);
				opacity: 1;
				background-color: #fff;
				border-radius: calc(7 / 16 * 1rem);
				position: absolute;
				display: block;
				/* these next 3 properties are an old school way to center an absolutely
                   positioned element inside a relative position parent */
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				z-index: -1;
			}
		}

		.cs-desc {
			/* 16px - 25px */
			font-size: clamp(1rem, 4vw, 1.5625rem);
			font-weight: 700;
			line-height: 1.2em;
			text-transform: lowercase;
			text-align: center;
			width: 80%;
			color: var(--headerColor);
			position: relative;
			z-index: 10;
		}
	}
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
	#sbs-297 {
		/* aligns the button */
		text-align: left;
		.cs-container {
			max-width: calc(1280 / 16 * 1rem);
			/* set to horizontal arrangement */
			flex-direction: row;
			justify-content: space-between;
			gap: calc(160 / 16 * 1rem);
		}

		.cs-content {
			text-align: left;
			align-items: flex-start;
		}

		.cs-image-group {
			width: 40vw;
			max-width: calc(521 / 16 * 1rem);
			/* 520px - 672px */
			height: clamp(32.5rem, 51.9vw, 42rem);
			margin: 0;
		}

		.cs-box {
			/* 251px - 325px */
			width: clamp(15.6875rem, 24.5vw, 20.3125rem);
			height: clamp(15.6875rem, 24.5vw, 20.3125rem);
			left: auto;
			transform: none;
			/* -52px to -102px */
			right: calc(clamp(3.25rem, 5.5vw + 1.6rem, 6.375rem) * -1);
			/* 62px - 80px */
			bottom: clamp(3.875rem, 6.2vw, 5rem);
		}

		.cs-number {
			&:before {
				/* 226px - 293px */
				width: clamp(14.125rem, 22.7vw, 18.3125rem);
				height: clamp(14.125rem, 22.7vw, 18.3125rem);
			}
		}
	}
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
	body.dark-mode {
		#sbs-297 {
			.cs-topper {
				color: var(--secondaryLight);
			}

			.cs-title,
			.cs-text {
				color: var(--bodyTextColorWhite);
			}

			.cs-link {
				color: var(--secondaryLight);
			}

			.cs-text {
				opacity: 0.8;
			}

			.cs-button-solid {
				background-color: var(--secondaryLight);
				color: #1a1a1a;
			}
		}
	}
}
                                