/* PAGE-SPECIFIC STYLES FOR THE HOME PAGE */
                                
                                
 /*-- -------------------------- -->
<---       Why Choose Us        -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {

	#why-choose-12 {
		/* remove the font family so the Stitch inherits the fonts from your global stylesheet */
		font-family: 'Roboto', 'Arial', sans-serif;
		padding: var(--sectionPadding);

		.cs-container {
			width: 100%;
			max-width: calc(1280 / 16 * 1rem);
			margin: auto;
			display: flex;
			flex-direction: column;
			align-items: center;
			/* 48px - 64px */
			gap: clamp(3rem, 6vw, 4rem);
		}

		.cs-content {
			/* set text align to left if content needs to be left aligned */
			text-align: center;
			width: 100%;
			display: flex;
			flex-direction: column;
			/* centers content horizontally, set to flex-start to left align */
			align-items: center;
		}

		.cs-topper {
			font-size: var(--topperFontSize);
			line-height: 1.2em;
			text-transform: uppercase;
			text-align: inherit;
			letter-spacing: 0.1em;
			font-weight: 700;
			color: var(--primary);
			margin-bottom: calc(4 / 16 * 1rem);
			display: block;
		}

		.cs-title {
			font-size: var(--headerFontSize);
			font-weight: 900;
			line-height: 1.2em;
			text-align: inherit;
			max-width: calc(700 / 16 * 1rem);
			margin: 0 0 calc(16 / 16 * 1rem) 0;
			color: var(--headerColor);
			position: relative;
		}

		.cs-text {
			font-size: var(--bodyFontSize);
			line-height: 1.5em;
			text-align: inherit;
			width: 100%;
			max-width: calc(650 / 16 * 1rem);
			margin: 0;
			color: var(--bodyTextColor);
		}

		.cs-card-group {
			width: 100%;
			margin: 0;
			padding: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			gap: calc(60 / 16 * 1rem);
		}

		.cs-item {
			text-align: center;
			list-style: none;
			width: 100%;
			max-width: calc(360 / 16 * 1rem);
			margin: 0;
			padding: 0;
		}

		.cs-picture {
			/* 68px - 88px */
			width: clamp(4.25rem, 7vw, 5.5rem);
			height: clamp(4.25rem, 7vw, 5.5rem);
			margin: auto;
			margin-bottom: calc(32 / 16 * 1rem);
			border-radius: 50%;
			background-color: var(--primary);
			display: flex;
			justify-content: center;
			align-items: center;

			img {
				width: auto;
				height: calc(42 / 16 * 1rem);
				display: block;
			}
		}

		.cs-h3 {
			font-size: calc(20 / 16 * 1rem);
			line-height: 1.2em;
			text-align: inherit;
			font-weight: 700;
			text-transform: uppercase;
			margin: 0;
			margin-bottom: calc(8 / 16 * 1rem);
			color: var(--headerColor);
		}

		.cs-item-text {
			font-size: calc(16 / 16 * 1rem);
			text-align: inherit;
			line-height: 1.5em;
			margin: 0;
			color: var(--bodyTextColor);
		}

		.cs-button-solid {
			font-size: calc(16 / 16 * 1rem);
			/* 46px - 56px */
			line-height: clamp(2.875rem, 5.5vw, 3.5rem);
			text-decoration: none;
			font-weight: 700;
			text-align: center;
			margin: 0;
			color: #fff;
			min-width: calc(150 / 16 * 1rem);
			padding: 0 calc(24 / 16 * 1rem);
			background-color: var(--primary);
			border-radius: calc(4 / 16 * 1rem);
			display: inline-block;
			position: relative;
			z-index: 1;
			/* prevents padding from adding to the width */
			box-sizing: border-box;

			&:before {
				content: '';
				position: absolute;
				height: 100%;
				width: 0%;
				background: #000;
				opacity: 1;
				top: 0;
				left: 0;
				z-index: -1;
				border-radius: calc(4 / 16 * 1rem);
				transition: width 0.3s;
			}

			&:hover {
				&:before {
					width: 100%;
				}
			}
		}
	}
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
	#why-choose-12 {
		.cs-card-group {
			flex-direction: row;
			justify-content: space-between;
		}
	}
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
	body.dark-mode {
		#why-choose-12 {
			.cs-title,
			.cs-h3,
			.cs-item-text,
			.cs-text {
				color: var(--bodyTextColorWhite);
			}

			.cs-picture {
				background: var(--primary);
			}
		}
	}
}
                                

/*-- -------------------------- -->
<---          Gallery           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
	:root {
		/* remove this whole :root and put in your global css file that's shared on all pages, then just remove this section from all other Stitches you add later, only need this once in your global stylesheet */
		--primary: #2587be;
		--primaryLight: #001f3f;
		--secondary: #ffba43;
		--secondaryLight: #ffba43;
		--headerColor: #1a1a1a;
		--bodyTextColor: #4e4b66;
		--bodyTextColorWhite: #fafbfc;

		/* 13px - 16px */
		--topperFontSize: clamp(0.8125rem, 1.6vw, 1rem);
		/* 31px - 49px */
		--headerFontSize: clamp(1.9375rem, 3.9vw, 3.0625rem);
		--bodyFontSize: 1rem;

		/* 60px - 100px top and bottom */
		--sectionPadding: clamp(3.75rem, 7.82vw, 6.25rem) 1rem;
	}

	#gallery-48 {
		/* remove the font family so the Stitch inherits the fonts from your global stylesheet */
		font-family: 'Roboto', 'Arial', sans-serif;
		padding: var(--sectionPadding);
		position: relative;

		.cs-container {
			width: 100%;
			max-width: calc(1280 / 16 * 1rem);
			margin: auto;
			display: flex;
			flex-direction: column;
			align-items: center;
			/* 48px - 64px */
			gap: clamp(3rem, 6vw, 4rem);
		}

		.cs-content {
			/* set text align to left if content needs to be left aligned */
			text-align: center;
			width: 100%;
			display: flex;
			flex-direction: column;
			/* centers content horizontally, set to flex-start to left align */
			align-items: center;
		}

		.cs-topper {
			font-size: var(--topperFontSize);
			line-height: 1.2em;
			text-transform: uppercase;
			text-align: inherit;
			letter-spacing: 0.1em;
			font-weight: 700;
			color: var(--primary);
			margin-bottom: calc(4 / 16 * 1rem);
			display: block;
		}

		.cs-title {
			font-size: var(--headerFontSize);
			font-weight: 900;
			line-height: 1.2em;
			text-align: inherit;
			max-width: calc(700 / 16 * 1rem);
			margin: 0 0 calc(16 / 16 * 1rem) 0;
			color: var(--headerColor);
			position: relative;
		}

		.cs-title {
			/* Override.  cs-topper cs-title and first cs-text should be removed and put into your global css sheet so it can control every instance of them on your site and is consistent. This selector is a section specific override that stays inside this stitch */
			margin: 0;
			max-width: 20ch;
		}

		.cs-image-group {
			/* used rem so it doesn't scale with the font size of on parent */
			font-size: min(1.1vw, 1em);
			width: 100%;
			padding: 0;
			margin: 0;
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			/* 8px - 20px */
			gap: clamp(0.5rem, 2vw, 1.25rem);
		}

		.cs-row {
			width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: center;
			/* 8px - 20px */
			gap: clamp(0.5rem, 2vw, 1.25rem);
		}

		.cs-picture {
			width: 100%;
			position: relative;
			display: block;
			img {
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 100%;
				object-fit: cover;
			}
		}

		.cs-row-1 {
			.cs-picture-1 {
				height: calc(567 / 16 * 1em);
			}

			.cs-picture-2 {
				height: calc(629 / 16 * 1em);
			}

			.cs-picture-3 {
				height: calc(512 / 16 * 1em);
			}
		}

		.cs-row-2 {
			.cs-picture-1 {
				height: calc(492 / 16 * 1em);
			}

			.cs-picture-2 {
				height: calc(517 / 16 * 1em);
			}

			.cs-picture-3 {
				height: calc(629 / 16 * 1em);
			}
		}

		.cs-row-3 {
			.cs-picture-1 {
				height: calc(625 / 16 * 1em);
			}

			.cs-picture-2 {
				height: calc(452 / 16 * 1em);
			}

			.cs-picture-3 {
				height: calc(629 / 16 * 1em);
			}
		}

		.cs-button-solid {
			font-size: calc(16 / 16 * 1rem);
			/* 46px - 56px */
			line-height: clamp(2.875rem, 5.5vw, 3.5rem);
			text-decoration: none;
			font-weight: 700;
			text-align: center;
			margin: 0;
			color: #fff;
			min-width: calc(150 / 16 * 1rem);
			padding: 0 calc(24 / 16 * 1rem);
			background-color: var(--primary);
			border-radius: calc(4 / 16 * 1rem);
			display: inline-block;
			position: relative;
			z-index: 1;
			/* prevents padding from adding to the width */
			box-sizing: border-box;

			&:before {
				content: '';
				position: absolute;
				height: 100%;
				width: 0%;
				background: #000;
				opacity: 1;
				top: 0;
				left: 0;
				z-index: -1;
				border-radius: calc(4 / 16 * 1rem);
				transition: width 0.3s;
			}

			&:hover {
				&:before {
					width: 100%;
				}
			}
		}
	}
}

/* Dark mode */
@media only screen and (min-width: 0rem) {
	body.dark-mode {
		#gallery-48 {
			.cs-title {
				color: var(--bodyTextColorWhite);
			}
		}
	}
}

/*-- -------------------------- -->
<---         Services           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {

    #services-1266 {
        /* remove the font family so the Stitch inherits the fonts from your global stylesheet */
        font-family: "Roboto", "Arial", sans-serif;
        padding: var(--sectionPadding);
        overflow: hidden;
        position: relative;
        z-index: 1;

        .cs-container {
            width: 100%;
            /* changes to 1280px at tablet */
            max-width: calc(550 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            width: 100%;
            max-width: calc(522 / 16 * 1rem);
            margin: 0;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
            /* set text align to center if content needs to be centrally aligned */
            text-align: left;
        }

        .cs-topper {
            font-size: var(--topperFontSize);
            line-height: 1.2em;
            font-weight: 700;
            width: 100%;
            margin-bottom: calc(4 / 16 * 1rem);
            color: var(--primary);
            text-transform: uppercase;
            letter-spacing: 0.1em;
            display: block;
            text-align: inherit;
        }

        .cs-title {
            font-size: var(--headerFontSize);
            line-height: 1.2em;
            font-weight: 900;
            max-width: calc(700 / 16 * 1rem);
            width: 100%;
            margin: 0 0 calc(16 / 16 * 1rem) 0;
            color: var(--headerColor);
            position: relative;
            text-align: inherit;
        }

        .cs-text {
            font-size: var(--bodyFontSize);
            line-height: 1.5em;
            width: 100%;
            margin: 0;
            margin-bottom: calc(32 / 16 * 1rem);
            color: var(--bodyTextColor);
            text-align: inherit;
        }

        .cs-button-solid {
            font-size: calc(16 / 16 * 1rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: #fff;
            min-width: calc(150 / 16 * 1rem);
            padding: 0 calc(24 / 16 * 1rem);
            background-color: var(--primary);
            border-radius: calc(4 / 16 * 1rem);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;
        
            &:before {
                content: '';
                position: absolute;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                border-radius: calc(4 / 16 * 1rem);
                transition: width .3s;
            }
        
            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-card-group {
            margin: 0 auto;
            padding: 0;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            /* 16px - 20px */
            gap: clamp(1rem, 2.75vw, 1.25rem);
        }

        .cs-item {
            border-radius: calc(16 / 16 * 1rem);
            margin-left: 0;
            background-color: #fff;
            width: 100%;
            box-sizing: border-box;
            grid-column: span 12;
            /* 20px - 24px */
            padding: clamp(1.25rem, 2.4vw, 1.5rem);
            list-style: none;
            box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.1);
        }

        .cs-h3 {
            font-size: calc(20 / 16 * 1rem);
            line-height: 1.2em;
            margin: 0 0 calc(20 / 16 * 1rem) 0;
            color: var(--headerColor);
            display: flex;
            align-items: center;
            gap: calc(16 / 16 * 1rem);
        }

        .cs-picture {
            width: calc(36 / 16 * 1rem);
            height: calc(36 / 16 * 1rem);
            border-radius: 50%;
            background-color: var(--primaryLight);
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .cs-icon {
            height: calc(12 / 16 * 1rem);
            width: auto;
        }

        .cs-number {
            display: block;
            margin: 0 0 calc(12 / 16 * 1rem) 0;
            font-size: calc(25 / 16 * 1rem);
            font-weight: 700;
            color: var(--primary);
        }

        .cs-item-text {
            margin: 0;
            font-size: calc(14 / 16 * 1rem);
            line-height: 1.5em;
            color: var(--bodyTextColor);
        }

        .cs-background {
            z-index: -1;
            position: absolute;
            bottom: 0;
            right: 0;
            height: 60%;
            width: 100%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #services-1266 {
        .cs-container {
            max-width: calc(1280 / 16 * 1rem);
        }

        .cs-item {
            grid-column: span 6;

            &:nth-of-type(3) {
                order: 4;
            }
        }

        .cs-background {
            height: 45%;
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #services-1266 {
        .cs-container {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: calc(40 / 16 * 1rem);
        }
        .cs-content {
            width: 42%;
            max-width: calc(522 / 16 * 1rem);
        }

        .cs-wrapper {
            width: 52%;
            max-width: calc(630 / 16 * 1rem);
            position: relative;
        }

        .cs-item {
            grid-column: span 6;
        }

        .cs-background {
            height: 150%;
            width: 115%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #services-1266 {
            .cs-title,
            .cs-text,
            .cs-h3,
            .cs-item-text {
                color: var(--bodyTextColorWhite);
            }

            .cs-text,
            .cs-item-text {
                opacity: 0.8;
            }

            .cs-item {
                background-color: var(--medium);
            }
        }
    }
}

/*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {

    #reviews-981 {
        padding: var(--sectionPadding);
        position: relative;
        z-index: 1;
        
        .cs-container {
            width: 100%;
            /* changes to 1280px at tablet */
            max-width: calc(584 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            max-width: calc(900 / 16 * 1rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }
    
        .cs-topper {
            font-size: var(--topperFontSize);
            line-height: 1.2em;
            text-transform: uppercase;
            text-align: inherit;
            letter-spacing: .1em;
            font-weight: 700;
            color: var(--primary);
            margin-bottom: calc(4 / 16 * 1rem);
            display: block;
        }
    
        .cs-title {
            font-size: var(--headerFontSize);
            font-weight: 900;
            line-height: 1.2em;
            text-align: inherit;
            max-width: calc(700 / 16 * 1rem);
            margin: 0 0 calc(16 / 16 * 1rem) 0;
            color: var(--headerColor);
            position: relative;
        }
    
        .cs-title {
            /* Override.  cs-topper cs-title and first cs-text should be removed and put into your global css sheet so it can control every instance of them on your site and is consistent. This selector is a section specific override that stays inside this stitch */
            /* 20 characters including spaces */
            max-width: 20ch;
            margin: 0;
        }

        .cs-card-group {
            width: 100%;
            padding: 0;
            margin: 0;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
        }

        .cs-item {
            list-style: none;
            width: 100%;
            /* 16px - 32px */
            padding: clamp(1rem, 3.1vw, 2rem);
            /* prevents padding from adding to height and width */
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            grid-column: span 12;
            position: relative;
            
            &:last-of-type {
                &:after {
                    display: none;
                }
            }

            &:after {
                content: '';
                width: 100%;
                height: 1px;
                margin: calc(32 / 16 * 1rem) 0 0 0;
                background: #E8E8E8;
                opacity: 1;
                position: relative;
                display: block;
                
            }
        }

        .cs-flex-group {
            width: 100%;
            margin: 0 0 calc(28 / 16 * 1rem) 0;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: calc(12 / 16 * 1rem);
        }

        .cs-profile {
            width: calc(50 / 16 * 1rem);
            height: calc(50 / 16 * 1rem);
            border: 2px solid #BABABA;
            background-color: #BABABA;
            border-radius: 50%;
            /* clips image corners to make circle */
            overflow: hidden;
            position: relative;
            display: block;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* makes the image behave like a background image */
                object-fit: cover;
            }
        }

        .cs-name {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 2vw, 1.5625rem);
            line-height: 1.5em;
            font-weight: 700;
            margin: 0;
            color: var(--headerColor);
            display: block;
        }

        .cs-job {
            font-size: calc(14 / 16 * 1rem);
            line-height: 1.2em;
            font-weight: 400;
            margin: 0;
            color: var(--bodyTextColor);
            display: block;
        }

        .cs-review {
            /* 14px - 16px */
            font-size: clamp(.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            margin: 0;
            max-width: calc(444 / 16 * 1rem);
            color: var(--bodyTextColor);
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #reviews-981 {
        .cs-container {
            max-width: calc(1280 / 16 * 1rem);
        }

        .cs-card-group {
            gap: calc(40 / 16 * 1rem);
        }

        .cs-item {
            grid-column: span 4;
            position: relative;
            &:after {
                width: 1px;
                height: 80%;
                margin: 0;
                position: absolute;
                right: calc(-20 / 16 * 1rem);
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #reviews-981 {
            .cs-topper {
                color: var(--primaryLight);
            }
            .cs-title, .cs-text, .cs-review, .cs-name, .cs-job, .cs-desc {
                color: var(--bodyTextColorWhite);
            }

            .cs-text, .cs-desc, .cs-review {
                opacity: .8;
            }

            .cs-item {
                &:after {
                    opacity: .2;
                }
            }
        }
    }
}
                                
                                
                                