/* PAGE-SPECIFIC STYLES FOR THE PROJECTS PAGE */

/*-- -------------------------- -->
<---          Gallery           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
	:root {
		/* remove this whole :root and put in your global css file that's shared on all pages, then just remove this section from all other Stitches you add later, only need this once in your global stylesheet */
		--primary: #e5572c;
		--primaryLight: #001f3f;
		--secondary: #ffba43;
		--secondaryLight: #ffba43;
		--headerColor: #1a1a1a;
		--bodyTextColor: #4e4b66;
		--bodyTextColorWhite: #fafbfc;

		/* 13px - 16px */
		--topperFontSize: clamp(0.8125rem, 1.6vw, 1rem);
		/* 31px - 49px */
		--headerFontSize: clamp(1.9375rem, 3.9vw, 3.0625rem);
		--bodyFontSize: 1rem;

		/* 60px - 100px top and bottom */
		--sectionPadding: clamp(3.75rem, 7.82vw, 6.25rem) 1rem;
	}

	#gallery-48 {
		/* remove the font family so the Stitch inherits the fonts from your global stylesheet */
		font-family: 'Roboto', 'Arial', sans-serif;
		padding: var(--sectionPadding);
		padding-top:150px;
		position: relative;

		.cs-container {
			width: 100%;
			max-width: calc(1280 / 16 * 1rem);
			margin: auto;
			display: flex;
			flex-direction: column;
			align-items: center;
			/* 48px - 64px */
			gap: clamp(3rem, 6vw, 4rem);
		}

		.cs-content {
			/* set text align to left if content needs to be left aligned */
			text-align: center;
			width: 100%;
			display: flex;
			flex-direction: column;
			/* centers content horizontally, set to flex-start to left align */
			align-items: center;
		}

		.cs-topper {
			font-size: var(--topperFontSize);
			line-height: 1.2em;
			text-transform: uppercase;
			text-align: inherit;
			letter-spacing: 0.1em;
			font-weight: 700;
			color: var(--primary);
			margin-bottom: calc(4 / 16 * 1rem);
			display: block;
		}

		.cs-title {
			font-size: var(--headerFontSize);
			font-weight: 900;
			line-height: 1.2em;
			text-align: inherit;
			max-width: calc(700 / 16 * 1rem);
			margin: 0 0 calc(16 / 16 * 1rem) 0;
			color: var(--headerColor);
			position: relative;
		}

		.cs-title {
			/* Override.  cs-topper cs-title and first cs-text should be removed and put into your global css sheet so it can control every instance of them on your site and is consistent. This selector is a section specific override that stays inside this stitch */
			margin: 0;
			max-width: 20ch;
		}

		.cs-image-group {
			/* used rem so it doesn't scale with the font size of on parent */
			font-size: min(1.1vw, 1em);
			width: 100%;
			padding: 0;
			margin: 0;
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			/* 8px - 20px */
			gap: clamp(0.5rem, 2vw, 1.25rem);
		}

		.cs-row {
			width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: center;
			/* 8px - 20px */
			gap: clamp(0.5rem, 2vw, 1.25rem);
		}

		.cs-picture {
			width: 100%;
			position: relative;
			display: block;
			img {
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 100%;
				object-fit: cover;
			}
		}

		.cs-row-1 {
			.cs-picture-1 {
				height: calc(567 / 16 * 1em);
			}

			.cs-picture-2 {
				height: calc(629 / 16 * 1em);
			}

			.cs-picture-3 {
				height: calc(512 / 16 * 1em);
			}
		}

		.cs-row-2 {
			.cs-picture-1 {
				height: calc(492 / 16 * 1em);
			}

			.cs-picture-2 {
				height: calc(517 / 16 * 1em);
			}

			.cs-picture-3 {
				height: calc(629 / 16 * 1em);
			}
		}

		.cs-row-3 {
			.cs-picture-1 {
				height: calc(625 / 16 * 1em);
			}

			.cs-picture-2 {
				height: calc(452 / 16 * 1em);
			}

			.cs-picture-3 {
				height: calc(629 / 16 * 1em);
			}
		}

		.cs-button-solid {
			font-size: calc(16 / 16 * 1rem);
			/* 46px - 56px */
			line-height: clamp(2.875rem, 5.5vw, 3.5rem);
			text-decoration: none;
			font-weight: 700;
			text-align: center;
			margin: 0;
			color: #fff;
			min-width: calc(150 / 16 * 1rem);
			padding: 0 calc(24 / 16 * 1rem);
			background-color: var(--primary);
			border-radius: calc(4 / 16 * 1rem);
			display: inline-block;
			position: relative;
			z-index: 1;
			/* prevents padding from adding to the width */
			box-sizing: border-box;

			&:before {
				content: '';
				position: absolute;
				height: 100%;
				width: 0%;
				background: #000;
				opacity: 1;
				top: 0;
				left: 0;
				z-index: -1;
				border-radius: calc(4 / 16 * 1rem);
				transition: width 0.3s;
			}

			&:hover {
				&:before {
					width: 100%;
				}
			}
		}
	}
}

/* Dark mode */
@media only screen and (min-width: 0rem) {
	body.dark-mode {
		#gallery-48 {
			.cs-title {
				color: var(--bodyTextColorWhite);
			}
		}
	}
}
