/* CODESTITCH STYLES, RESET, HEADER/NAVIGATION AND FOOTER */

/*-- -------------------------- -->
<---        Core Styles         -->
<--- -------------------------- -*/

/* CodeStitch Root and Helpers */
@media only screen and (min-width: 0em) {
	// Website colors
	:root {
		/* remove this whole :root and put in your global css file that's shared on all pages, then just remove this section from all other Stitches you add later, only need this once in your global stylesheet */
		--primary: #2587be;
		--primaryLight: #001f3f;
		--secondary: #ffba43;
		--secondaryLight: #ffba43;
		--headerColor: #1a1a1a;
		--bodyTextColor: #4e4b66;
		--bodyTextColorWhite: #fafbfc;

		/* 13px - 16px */
		--topperFontSize: clamp(0.8125rem, 1.6vw, 1rem);
		/* 31px - 49px */
		--headerFontSize: clamp(1.9375rem, 3.9vw, 3.0625rem);
		--bodyFontSize: 1rem;

		/* 60px - 100px top and bottom */
		--sectionPadding: clamp(3.75rem, 7.82vw, 6.25rem) 1rem;
	}

	// Text styles - can be replaced using CodeStitch's "Content Flair" Stitches
	.cs-topper {
		font-size: var(--topperFontSize);
		line-height: 1.2em;
		text-transform: uppercase;
		letter-spacing: 0.1em;
		font-weight: 700;
		color: var(--primary);
		display: block;
	}

	.cs-title {
		font-size: var(--headerFontSize);
		font-weight: 900;
		line-height: 1.2em;
		margin: 0 auto calc(16 / 16 * 1rem);
		color: var(--headerColor);
		position: relative;
	}

	.cs-text {
		font-size: var(--bodyFontSize);
		line-height: 1.5em;
		color: var(--bodyTextColor);
		width: 100%;
		margin: 0 auto;
	}

	// Button - can be replaced using CodeStitch's "Button" Stitches
	.cs-button-solid {
		font-size: calc(16 / 16 * 1rem);
		font-weight: bold;
		text-transform: uppercase;
		text-decoration: none;
		display: inline-block;
		width: auto;
		line-height: calc(50 / 16 * 1em);
		height: calc(50 / 16 * 1rem);
		text-align: center;
		padding: 0 calc(30 / 16 * 1rem);
		position: relative;
		z-index: 1;
		background-color: var(--primary);

		// Transition Properties
		color: #000;
		transition: color 0.3s;
		transition-delay: 0.1s;

		&:hover {
			color: #fff;
			&:before {
				width: 100%;
			}
		}

		&:before {
			content: "";
			position: absolute;
			display: block;
			height: 100%;
			opacity: 1;
			top: 0;
			left: 0;
			z-index: -1;
			background-color: #000;

			//Transition properties
			width: 0;
			transition: width 0.3s;
		}
	}
}

/* Fonts and general styles */
@media only screen and (min-width: 0em) {
	// Grab your fonts to locally host from https://google-webfonts-helper.herokuapp.com/fonts

	/* roboto-regular - latin */
	@font-face {
		font-family: "Roboto";
		font-style: normal;
		font-weight: 400;
		src: local(""), url("/assets/fonts/roboto-v29-latin-regular.woff2") format("woff2"),
			/* Chrome 26+, Opera 23+, Firefox 39+ */ url("/assets/fonts/roboto-v29-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
	}
	/* roboto-700 - latin */
	@font-face {
		font-family: "Roboto";
		font-style: normal;
		font-weight: 700;
		src: local(""), url("/assets/fonts/roboto-v29-latin-700.woff2") format("woff2"),
			/* Chrome 26+, Opera 23+, Firefox 39+ */ url("/assets/fonts/roboto-v29-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
	}
	/* roboto-900 - latin */
	@font-face {
		font-family: "Roboto";
		font-style: normal;
		font-weight: 900;
		src: local(""), url("/assets/fonts/roboto-v29-latin-900.woff2") format("woff2"),
			/* Chrome 26+, Opera 23+, Firefox 39+ */ url("/assets/fonts/roboto-v29-latin-900.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
	}

	body,
	html {
		margin: 0;
		padding: 0;
		font-size: 100%;
		font-family: "Roboto", Arial, sans-serif;
		color: var(--bodyTextColor);
		overflow-x: hidden;
	}

	*,
	*:before,
	*:after {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	body {
		transition: background-color 0.3s;
	}

	.container {
		position: relative;
		width: 92%;
		margin: auto;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin: 0;
		color: var(--headerColor);
	}

	p,
	li,
	a {
		margin: 0;
		font-size: calc(16 / 16 * 1rem);
		line-height: 27/18em;
	}

	p,
	li {
		color: #353535;
	}

	a,
	button {
		&:hover {
			cursor: pointer;
		}
	}

	// Hidden Screen reader skip nav button
	.skip {
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
		z-index: -1111111;
	}
}

/* Reset Margins */
@media only screen and (min-width: 1024px) {
	body,
	html {
		padding: 0;
		margin: 0;
	}
}

/* Scale full website with the viewport width */
@media only screen and (min-width: 2000px) {
	body,
	html {
		font-size: 0.85vw;
	}
}

/*-- -------------------------- -->
<---      Dark Mode Toggle      -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #dark-mode-toggle {
            .cs-sun {
                opacity: 1;
                transform: translate(-50%, -50%);
            }

            .cs-moon {
                opacity: 0;
                transform: translate(-50%, -150%);
            }
        }
    }

    #dark-mode-toggle {
        width: calc(48 / 16 * 1rem);
        height: calc(48 / 16 * 1rem);
        padding: 0;
        background: transparent;
        border: none;
        display: block;
        order: 2;
        position: relative;
        z-index: 1000;
        overflow: hidden;

        img,
        svg {
            width: calc(20 / 16 * 1rem);
            height: calc(20 / 16 * 1rem);
            //center image inside button
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            pointer-events: none;
        }

        .cs-moon {
            z-index: 2;
            // Transition properties
            transition: transform 0.3s, opacity 0.3s;
            fill: #1a1a1a;
        }

        .cs-sun {
            opacity: 0;
            z-index: 1;
            // Transition property
            transform: translate(-50%, 100%);
            transition: transform 0.3s, opacity 0.3s;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #dark-mode-toggle {
        margin-left: calc(16 / 16 * 1rem);
        order: 3;
        position: relative;
        right: auto;
        bottom: auto;
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #dark-mode-toggle {
        margin: 0;
        position: relative;
        right: auto;
        bottom: auto;
        transform: none;

        &:hover {
            cursor: pointer;
        }
    }
}

/*-- -------------------------- -->
<---     Mobile Navigation      -->
<--- -------------------------- -*/

body,
html {
    /* reset margin and padding so there's no gap between the nav and the screen edges */
    margin: 0;
    padding: 0;
}

/* Mobile - 767px */
@media only screen and (max-width: 47.9375rem) {
    #cs-navigation {
        .cs-top-link {
            &:nth-of-type(2) {
                display: none;
            }
        }
    }
}

/* Mobile - 1023px */
@media only screen and (max-width: 63.9375rem) {
    body {
        &.cs-open {
            overflow: hidden;

            #cs-navigation {
                background-color: rgba(26, 26, 26, 1);
            }
        }
    }

    #cs-navigation {
        width: 100%;
        /* prevents padding and border from affecting height and width */
        box-sizing: border-box;
        background-color: rgba(26, 26, 26, 0.84);
        position: fixed;
        z-index: 10000;
        transition: background-color 0.3s;

        &.cs-active {
            .cs-ul-wrapper {
                opacity: 1;
                transform: scaleY(1);
                transition-delay: 0.15s;
            }

            .cs-li {
                transform: translateY(0);
                opacity: 1;
            }
        }

        .cs-top-bar {
            width: 100%;
            background-color: #1a1a1a;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .cs-top-container {
            width: 100%;
            padding: calc(16 / 16 * 1rem);
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: calc(50 / 16 * 1rem);
        }

        .cs-top-contact {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: calc(24 / 16 * 1rem);
        }

        .cs-top-link {
            font-size: calc(14 / 16 * 1rem);
            line-height: 1.5em;
            text-decoration: none;
            margin: 0;
            color: #f7f7f7;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: calc(8 / 16 * 1rem);
        }

        .cs-link-icon {
            width: calc(16 / 16 * 1rem);
            height: auto;
            display: block;
        }

        .cs-top-social {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: calc(16 / 16 * 1rem);
        }

        .cs-social-link {
            text-decoration: none;
            width: auto;
            height: auto;
            display: block;
        }

        .cs-social-icon {
            width: calc(20 / 16 * 1rem);
            height: auto;
            display: block;
        }

        .cs-container {
            width: 100%;
            padding: calc(16 / 16 * 1rem);
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }

        .cs-logo {
            width: calc(147 / 16 * 1rem);
            height: auto;
            margin: 0 auto 0 0;
            padding: 0;
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 10;

            img {
                width: 100%;
                height: 100%;
                /* ensures the image never overflows the container. It stays contained within it's width and height and expands to fill it then stops once it reaches an edge */
                object-fit: contain;
            }
        }

        .cs-toggle {
            width: calc(56 / 16 * 1rem);
            height: calc(56 / 16 * 1rem);
            margin: 0 0 0 auto;
            background-color: #484848;
            border: none;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .cs-active {
            .cs-line1 {
                top: 50%;
                transform: translate(-50%, -50%) rotate(225deg);
            }

            .cs-line2 {
                top: 50%;
                transform-origin: center;
                transform: translate(-50%, -50%) translateY(0) rotate(-225deg);
            }

            .cs-line3 {
                bottom: 100%;
                opacity: 0;
            }
        }

        .cs-box {
            /* 24px - 28px */
            width: clamp(1.5rem, 2vw, 1.75rem);
            height: calc(16 / 16 * 1rem);
            position: relative;
        }

        .cs-line {
            width: 100%;
            height: 2px;
            border-radius: 2px;
            background-color: #fafbfc;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }

        .cs-line1 {
            top: 0;
            transform-origin: center;
            transition:
                transform 0.5s,
                top 0.3s,
                left 0.3s;
            animation-duration: 0.7s;
            animation-timing-function: ease;
            animation-fill-mode: forwards;
            animation-direction: normal;
        }

        .cs-line2 {
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
            transition:
                top 0.3s,
                left 0.3s,
                transform 0.5s;
            animation-duration: 0.7s;
            animation-timing-function: ease;
            animation-fill-mode: forwards;
            animation-direction: normal;
        }

        .cs-line3 {
            bottom: 0;
            transition:
                bottom 0.3s,
                opacity 0.3s;
        }

        .cs-ul-wrapper {
            width: 100%;
            height: auto;
            padding-bottom: calc(48 / 16 * 1rem);
            opacity: 0;
            background-color: #1a1a1a;
            box-shadow: inset rgba(0, 0, 0, 0.2) 0px 8px 24px;
            overflow: hidden;
            position: absolute;
            top: 100%;
            left: 0;
            z-index: -1;
            transform: scaleY(0);
            transform-origin: top;
            transition:
                transform 0.4s,
                opacity 0.3s;
        }

        .cs-ul {
            margin: 0;
            padding: calc(48 / 16 * 1rem) 0 0 0;
            width: 100%;
            height: auto;
            max-height: 65vh;
            overflow: scroll;
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            align-items: center;
            gap: calc(20 / 16 * 1rem);
        }

        .cs-li {
            width: 100%;
            text-align: center;
            list-style: none;
            margin-right: 0;
            /* transition from these values */
            transform: translateY(-4.375rem);
            opacity: 0;
            transition:
                transform 0.6s,
                opacity 0.9s;

            &:nth-of-type(1) {
                transition-delay: 0.05s;
            }
            &:nth-of-type(2) {
                transition-delay: 0.1s;
            }
            &:nth-of-type(3) {
                transition-delay: 0.15s;
            }
            &:nth-of-type(4) {
                transition-delay: 0.2s;
            }
            &:nth-of-type(5) {
                transition-delay: 0.25s;
            }
            &:nth-of-type(6) {
                transition-delay: 0.3s;
            }
            &:nth-of-type(7) {
                transition-delay: 0.35s;
            }
            &:nth-of-type(8) {
                transition-delay: 0.4s;
            }
            &:nth-of-type(9) {
                transition-delay: 0.45s;
            }
            &:nth-of-type(10) {
                transition-delay: 0.5s;
            }
            &:nth-of-type(11) {
                transition-delay: 0.55s;
            }
            &:nth-of-type(12) {
                transition-delay: 0.6s;
            }
            &:nth-of-type(13) {
                transition-delay: 0.65s;
            }
        }

        .cs-li-link {
            /* 16px - 24px */
            font-size: clamp(1rem, 2.5vw, 1.5rem);
            line-height: 1.2em;
            text-decoration: none;
            margin: 0;
            color: var(--bodyTextColorWhite);
            display: inline-block;
            position: relative;

            &.cs-active {
                color: var(--primary);
            }

            &:hover {
                color: var(--primary);
            }
        }

        .cs-button-solid {
            display: none;
        }
    }
}

/*-- -------------------------- -->
<---     Desktop Navigation     -->
<--- -------------------------- -*/

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #cs-navigation {
        width: 100%;
        padding: 0;
        /* prevents padding and border from affecting height and width */
        box-sizing: border-box;
        background-color: rgba(26, 26, 26, 0.84);
        position: fixed;
        z-index: 10000;

        .cs-top-bar {
            width: 100%;
            background-color: #1a1a1a;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .cs-top-container {
            width: 100%;
            max-width: calc(1280 / 16 * 1rem);
            padding: calc(16 / 16 * 1rem);
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: calc(50 / 16 * 1rem);
        }

        .cs-top-contact {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: calc(24 / 16 * 1rem);
        }

        .cs-top-link {
            font-size: calc(14 / 16 * 1rem);
            line-height: 1.5em;
            text-decoration: none;
            margin: 0;
            color: #f7f7f7;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: calc(8 / 16 * 1rem);

            &:hover {
                text-decoration: underline;
            }
        }

        .cs-link-icon {
            width: calc(16 / 16 * 1rem);
            height: auto;
            display: block;
        }

        .cs-top-social {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: calc(16 / 16 * 1rem);
        }

        .cs-social-link {
            text-decoration: none;
            width: auto;
            height: auto;
            display: block;
            transition: transform 0.3s;

            &:hover {
                transform: translateY(-0.25rem);
            }
        }

        .cs-social-icon {
            width: calc(20 / 16 * 1rem);
            height: auto;
            display: block;
        }

        .cs-container {
            width: 100%;
            /* same height as the cs-ul-wrapper */
            height: calc(93 / 16 * 1rem);
            max-width: calc(1280 / 16 * 1rem);
            margin: auto;
            padding: 0 calc(16 / 16 * 1rem);
            /* prevents padding from affectin gheight */
            box-sizing: border-box;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: calc(24 / 16 * 1rem);
            position: relative;
        }

        .cs-toggle {
            display: none;
        }

        .cs-logo {
            width: 18.4%;
            max-width: calc(197 / 16 * 1rem);
            height: calc(60 / 16 * 1rem);
            /* margin-right auto pushes everything away from it to the right */
            margin: 0 auto 0 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 100;

            img {
                width: 150%;
                height: 150%;
                /* ensures the image never overflows the container. It stays contained within it's width and height and expands to fill it then stops once it reaches an edge */
                object-fit: contain;
            }
        }

        .cs-ul-wrapper {
            /* absolutely positioned to be dead center */
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        .cs-ul {
            width: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            /* 20px - 36px */
            gap: clamp(1.25rem, 2.6vw, 2.25rem);
        }

        .cs-li {
            list-style: none;
            padding: calc(36 / 16 * 1rem) 0;
            /* prevent flexbox from squishing it */
            flex: none;
        }

        .cs-li-link {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 0.6vw, 1rem);
            line-height: 1.5em;
            text-decoration: none;
            margin: 0;
            color: var(--bodyTextColorWhite);
            display: block;
            position: relative;
            transition: color 0.3s;

            &:before {
                content: "";
                width: 0%;
                height: 1px;
                background: currentColor;
                opacity: 1;
                position: absolute;
                display: block;
                bottom: -2px;
                left: 0;
                transition: width 0.3s;
            }

            &:hover {
                color: var(--primary);
                &:before {
                    width: 100%;
                }
            }

            &.cs-active {
                color: var(--primary);
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-button-solid {
            font-size: calc(16 / 16 * 1rem);
            /* 46px - 56px */
            line-height: clamp(2.875em, 5.5vw, 3.5em);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: #fff;
            min-width: calc(150 / 16 * 1rem);
            padding: 0 calc(32 / 16 * 1rem);
            background-color: var(--primary);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;
            transition: color 0.3s;

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0%;
                background: #fff;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width 0.3s;
            }

            &:hover {
                color: #1a1a1a;
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-nav-button {
            line-height: calc(46 / 16 * 1rem);
        }
    }
}

                                 
                                
                                
/*-- -------------------------- -->
<---   Interior Page Header     -->
<--- -------------------------- -*/

/* Mobile */
@media only screen and (min-width: 0em) {
	#int-hero {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		position: relative;
		z-index: 1;
		min-height: 30vh;
		padding-top: calc(50 / 16 * 1rem);

		&:before {
			content: "";
			position: absolute;
			display: block;
			height: 100%;
			width: 100%;
			background: #000;
			opacity: 0.7;
			top: 0;
			left: 0;
			z-index: -1;
		}

		picture {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			z-index: -2;

			img {
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 100%;
				object-fit: cover;
			}
		}

		h1 {
			color: #fff;
			font-size: 64/30rem;
			text-align: center;
			margin: 0 auto;
			position: relative;
			width: 96%;
			max-width: calc(500 / 16 * 1rem);
			margin-top: calc(70 / 16 * 1rem);
			margin-bottom: calc(30 / 16 * 1rem);
		}

		p {
			color: #fff;
			text-align: center;
			max-width: calc(400 / 16 * 1rem);
			margin: auto;
			margin-bottom: calc(30 / 16 * 1rem);
			display: block;
			width: 96%;
		}
	}
}

/* Tablet */
@media only screen and (min-width: 48em) {
	#int-hero {
		font-size: 100%;

		h1 {
			font-size: calc(64 / 16 * 1rem);
		}
	}
}

/* Small Desktop */
@media only screen and (min-width: 64em) {
	#int-hero {
		min-height: calc(300 / 16 * 1rem);
		height: auto;
		padding-top: calc(180 / 16 * 1rem);
		padding-block-end: calc(100 / 16 * 1rem);
		background-attachment: fixed;
		font-size: inherit;
	}
}

//*-- -------------------------- --

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {


    #cta-51 {
        /* remove the font family so the Stitch inherits the fonts from your global stylesheet */
        font-family: 'Roboto', 'Arial', sans-serif;
        padding: var(--sectionPadding);
        position: relative;

        .cs-container {
            width: 100%;
            max-width: calc(1280 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-topper {
            font-size: var(--topperFontSize);
            line-height: 1.2em;
            text-transform: uppercase;
            text-align: inherit;
            letter-spacing: .1em;
            font-weight: 700;
            color: var(--primary);
            margin-bottom: calc(4 / 16 * 1rem);
            display: block;
        }
        
        .cs-title {
            font-size: var(--headerFontSize);
            font-weight: 900;
            line-height: 1.2em;
            text-align: inherit;
            max-width: calc(700 / 16 * 1rem);
            margin: 0 0 calc(16 / 16 * 1rem) 0;
            color: var(--headerColor);
            position: relative;
        }
        
        .cs-text {
            font-size: var(--bodyFontSize);
            line-height: 1.5em;
            text-align: inherit;
            width: 100%;
            max-width: calc(650 / 16 * 1rem);
            margin: 0;
            color: var(--bodyTextColor);
        }

        .cs-title {
            /* Override.  cs-topper cs-title and first cs-text should be removed and put into your global css sheet so it can control every instance of them on your site and is consistent. This selector is a section specific override that stays inside this stitch */
            color: var(--bodyTextColorWhite);
        }
        
        .cs-text {
            /* Override.  cs-topper cs-title and first cs-text should be removed and put into your global css sheet so it can control every instance of them on your site and is consistent. This selector is a section specific override that stays inside this stitch */
            margin-bottom: calc(16 / 16 * 1rem);
            color: var(--bodyTextColorWhite);
            opacity: .8
            ;
            &:last-of-type {
                margin-bottom: calc(32 / 16 * 1rem);
            }
        }
        
        .cs-button-solid {
            font-size: calc(16 / 16 * 1rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: #fff;
            min-width: calc(150 / 16 * 1rem);
            padding: 0 calc(24 / 16 * 1rem);
            background-color: var(--primary);
            border-radius: calc(4 / 16 * 1rem);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;
        
            &:before {
                content: '';
                position: absolute;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                border-radius: calc(4 / 16 * 1rem);
                transition: width .3s;
            }
        
            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-picture {
            height: 100%;
            width: 100%;
            display: block;
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            z-index: -1;

            &:before {
                /* black color overlay */
                content: '';
                position: absolute;
                display: block;
                height: 100%;
                width: 100%;
                background: #000;
                opacity: .8;
                top: 0;
                left: 0;
                z-index: 1;
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }
}
                                
/*-- -------------------------- -->
<---          Footer            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
 

    #cs-footer-1292 {
        /* remove the font family so the Stitch inherits the fonts from your global stylesheet */
        font-family: 'Roboto', 'Arial', sans-serif;
        padding: var(--sectionPadding);
        padding-bottom: calc(20 / 16 * 1rem);
        overflow: hidden;
        position: relative;
        z-index: 10;
   
        .cs-container {
            width: 100%;
            margin: auto;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-wrap: wrap;
            column-gap: calc(24 / 16 * 1rem);
            row-gap: calc(36 / 16 * 1rem);
        }

        .cs-logo-group {
            /* takes up all the space, lets the other ul's wrap below it */
            width: 100%;
            position: relative;
        }

        .cs-logo {
            width: calc(197 / 16 * 1rem);
            height: auto;
            display: block;
            /* 20px - 24px */
            margin: 0 0 clamp(1.25rem, 2vw, 1.5rem) 0;
        }

        .cs-logo-img {
            width: 100%;
            height: auto;

            &.dark {
                display: none;
            }
        }

        .cs-text {
            font-size: calc(14 / 16 * 1rem);
            line-height: 1.5em;
            /* 20px - 36px */
            margin: 0 0 clamp(1.25rem, 3vw, 2.25rem);
            width: 78%;
            max-width: calc(240 / 16 * 1rem);
            color: var(--bodyTextColor);
        }

        .cs-link {
            font-size: calc(14 / 16 * 1rem);
            line-height: 1.5em;
            text-decoration: none;
            margin: 0;
            color: var(--headerColor);
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: calc(12 / 16 * 1rem);
            transition: color .3s;

            &:hover {
                color: var(--primary);
            }
        }

        /* Navigation Links */

        .cs-nav {
            width: 45%;
            max-width: calc(180 / 16 * 1rem);
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            gap: calc(16 / 16 * 1rem);
        }

        .cs-nav-li {
            list-style: none;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
        }

        .cs-header {
            font-size: calc(16 / 16 * 1rem);
            line-height: 1.2em;
            font-weight: 700;
            margin-bottom: calc(8 / 16 * 1rem);
            color: var(--headerColor);
            position: relative;
            display: block;
        }

        .cs-nav-link {
            font-size: calc(14 / 16 * 1rem);
            text-decoration: none;
            line-height: 1.5em;
            width: auto;
            color: var(--bodyTextColor);
            position: relative;
            display: inline-block;
            transition: color .3s;

            &:before {
                /* underline */
                content: '';
                width: 0%;
                height: calc(2 / 16 * 1rem);
                background: currentColor;
                opacity: 1;
                position: absolute;
                display: block;
                bottom: calc(-2 / 16 * 1rem);
                left: 0;
                transition: width .3s;
            }

            &:hover {
                color: var(--primary);
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-bottom {
            max-width: calc(1280 / 16 * 1rem);
            margin: auto;
            /* 48px - 100px */
            margin-top: clamp(3rem, 9vw, 6.25rem);
            /* 20px - 32px */
            padding: clamp(1.25rem, 3vw, 2rem) 0 0 0;
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            column-gap: calc(36 / 16 * 1rem);
            row-gap: calc(12 / 16 * 1rem);
        }

        .cs-copyright, .cs-copyright-link {
            font-size: calc(14 / 16 * 1rem);
            line-height: 1.5em;
            color: var(--bodyTextColor);
        }

        .cs-copyright {
            text-align: center;
            width: 100%;
        }

        .cs-copyright-link {
            text-decoration: none;
            transition: color .3s;
            &:hover {
                color: var(--secondary);
            }
        }

        .cs-floater {
            width: calc(506 / 16 * 1rem);
            height: calc(506 / 16 * 1rem);
            margin-left: calc(550 / 16 * 1rem);
            border-radius: 50%;
            border: 2px solid var(--primary);
            display: none;
            position: absolute;
            left: 50%;
            top: 0;
            z-index: -1;

            &:before {
                content: '';
                width: calc(715 / 16 * 1rem);
                height: calc(715 / 16 * 1rem);
                border: 2px solid var(--primary);
                border-radius: 50%;
                opacity: .6;
                position: absolute;
                display: block;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            &:after {
                content: '';
                width: calc(963 / 16 * 1rem);
                height: calc(963 / 16 * 1rem);
                border: 2px solid var(--primary);
                border-radius: 50%;
                opacity: .3;
                position: absolute;
                display: block;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #cs-footer-1292 {
        .cs-container {
            row-gap: 0;
            flex-direction: row;
            flex-wrap: nowrap;
            column-gap: calc(88 / 16 * 1rem);
            row-gap: calc(40 / 16 * 1rem);
        }

        .cs-nav {
            width: auto;
        }

        .cs-bottom {
            flex-wrap: nowrap;
            justify-content: flex-start;
        }

        .cs-copyright {
            text-align: left;
            width: auto;
            margin-right: auto;
        }

        .cs-floater {
            display: block;
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #cs-footer-1292 {
        .cs-container {
            max-width: calc(1280 / 16 * 1rem);
            flex-wrap: nowrap;
            /* align everything to the right */
            justify-content: flex-end;
            column-gap: clamp(2.5rem, 6vw, 5.25rem);
        }

        .cs-logo-group {
            width: 30%;
            max-width: calc(387 / 16 * 1rem);
            /* pushes away from everything to the right */
            margin-right: auto;
        }

        .cs-text {
            width: 100%;
        }

        .cs-graphic {
            display: block;
        }
    }
}
                                
/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #cs-footer-1292 {
            .cs-text, .cs-link, .cs-nav-link, .cs-header, .cs-copyright, .cs-copyright-link {
                color: var(--bodyTextColorWhite);
            }

            .cs-link {
                .cs-link-icon {
                    filter: grayscale(1) brightness(1000%);
                }
            }
        }
    }
}
                                